doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        title Design
    body 
        .container 
            .card.card--onroute 
                .card_info
                    label.label Ruta
                    p RG010
                .card_info
                    label.label Conductor
                    p José Luis Cepeda
                .card_info
                    label.label Creada
                    p 1 de Enero del 2019
                .card_info
                    label.label Inició
                    p 13:00
                .card_info
                    label.label Terminó
                    p -
                .card_info
                    label.label Entregas
                    p 3
                .card_info
                    p.button.button--onroute En Ruta
            .card.card--completed
                .card_info
                    label.label Ruta
                    p RG010
                .card_info
                    label.label Conductor
                    p José Luis Cepeda
                .card_info
                    label.label Creada
                    p 1 de Enero del 2019
                .card_info
                    label.label Inició
                    p 13:00
                .card_info
                    label.label Terminó
                    p 13:36
                .card_info
                    label.label Entregas
                    p 5
                .card_info
                    p.button.button--completed Completada